:root {
  --gold-color: #f7d929;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.bef {
  position: relative;
}

.bef::before {
  content: '';
  width: 1px;
  height: 25px;
  background-color: #ccc;
  position: absolute;
  top: -11px;
  z-index: 55;
}